export(pca.fit)
export(KSS)
export(KSScf)
export(Eup)
import(pspline)
S3method(KSScf,default)
S3method(KSS,  default)
S3method(print,  KSS)
S3method(coef,   KSS)
S3method(summary,KSS)
S3method(print,summary.KSS)
S3method(plot, summary.KSS)
S3method(print,KSScf)
S3method(Eup, default)
S3method(print, Eup)
S3method(summary, Eup)
